<mat-list *ngIf="show">
  <mat-list-item>
    <mat-icon mat-list-icon>category</mat-icon>
    <h4 mat-line>{{ strings.strings.purchaceOrderState }}:</h4>
    <p mat-line>{{ items.DESCRIPCION_ESTADO_OC | titlecase }}</p>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>category</mat-icon>
    <h4 mat-line>{{ strings.strings.homologationState }}:</h4>
    <p mat-line>{{ items.DESCRIPCION_ESTADO_HO | titlecase }}</p>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>assignment_ind</mat-icon>
    <h4 mat-line>{{ strings.strings.createdBy }}:</h4>
    <p mat-line>{{ items.USUARIO_CREACION | titlecase }}</p>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>date_range</mat-icon>
    <h4 mat-line>{{ strings.strings.creationDate }}:</h4>
    <p mat-line>{{ items.FECHA_CREACION }}</p>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>date_range</mat-icon>
    <h4 mat-line>{{ strings.strings.integrationDate }}:</h4>
    <p mat-line>{{ items.FECHA_INTEGRACION }}</p>
  </mat-list-item>
</mat-list>
<div class="no-data" *ngIf="!show">
  Sin datos
</div>
