@import '../../../assets/css/vars';
.mat-list.mat-list-base {
    display: grid;
    padding: 0;
    margin: 1rem 0;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    justify-content: center;
    & mat-list-item {
        transition: all .2s ease-out;
        &:hover {
            font-weight: 600;
        }
    }
}
.no-data {
    font-weight: bold;
    font-size: 130%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}