.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between !important;
}
.the-wrapper {
  margin: 0;
  & form {
    display: grid;
    grid-gap: 1rem;
    & div {
      &.content {
        display: flex;
        flex-direction: column;
      }
      &.step-buttons {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: min-content min-content;
        grid-gap: 1rem;
      }
      & mat-checkbox {
        margin: 1rem 0;
        align-self: flex-start;
      }
    }
  }
}
