<mat-toolbar class="toolbar" color="accent"
  ><span>Cambio de estado</span
  ><button mat-icon-button (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button></mat-toolbar
>
<div class="the-wrapper">
  <h5>Ordenes de compra a modificar:</h5>
  <mat-chip-list color="primary">
    <mat-chip
      *ngFor="let chip of chips"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(chip)"
      color="primary"
      >{{ chip.Orden
      }}<mat-icon *ngIf="removable" matChipRemove>cancel</mat-icon></mat-chip
    >
  </mat-chip-list>
  <div class="error" *ngIf="!chips.length">
    <p>
      Debe seleccionar al menos una orden de compra.
    </p>
    <p>  
      Esta ventana se cerrará.
    </p> 
  </div>
  <mat-form-field>
    <!-- <mat-label>Estados</mat-label>
    <mat-select>
      <mat-option *ngFor="let estado of estados" [value]="estado.value">
        {{ estado.viewValue }}
      </mat-option>
    </mat-select> -->
    <input
      type="text"
      placeholder="Estados"
      aria-label="Estados"
      matInput
      required
      [matAutocomplete]="estados"
      [formControl]="estadosControl"
    />
    <mat-autocomplete
      #estados="matAutocomplete"
      [displayWith]="displayProveedor"
    >
      <mat-option
        *ngFor="let estado of filteredEstados | async"
        [value]="estado"
      >
        {{ estado.DESCRIPCION }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button mat-raised-button color="primary" [disabled]="!chips.length">
    Cambiar
  </button>
</div>
