<mat-toolbar class="toolbar mat-elevation-z10" color="accent" mat-dialog-title
  ><span>{{ strings.strings.stateChange }}</span
  ><button mat-icon-button (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button></mat-toolbar
>
<div class="the-wrapper" mat-dialog-content>
  <h5>{{ strings.strings.purchaseOrderToEdit }}:</h5>
  <mat-chip-list color="primary" [@chip]="chips?.length">
    <mat-chip
      *ngFor="let chip of chips"
      [@chip]="chip"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(chip)"
      color="primary"
      >{{ chip.PMG_PO_NUMBER
      }}<mat-icon *ngIf="removable" matChipRemove>cancel</mat-icon></mat-chip
    >
  </mat-chip-list>
  <div class="error" *ngIf="!chips.length">
    <p>
      {{ strings.strings.mustSelectAnOrder }}
    </p>
    <p>
      {{ strings.strings.windowWillClose }}
    </p>
  </div>
  <form>
    <mat-form-field>
      <input
        type="text"
        placeholder="{{ strings.strings.states }}"
        aria-label="strings.strings.states"
        matInput
        required
        [formControl]="estadosControl"
        [matAutocomplete]="estados"
      />
      <mat-autocomplete
        #estados="matAutocomplete"
        [displayWith]="displayEstados"
      >
        <mat-option
          *ngFor="let estado of filteredEstados | async"
          [value]="estado"
        >
          {{ estado.DESCRIPCION | titlecase }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
      <input
        type="datetime"
        matInput
        required
        [matDatepicker]="dp1"
        placeholder="{{ strings.strings.changeDate }}"
        [formControl]="fechaCambioControl"
      />
      <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
      <mat-datepicker #dp1></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input
        type="text"
        matInput
        required
        placeholder="{{ strings.strings.changeTime }}"
        [formControl]="horaCambioControl"
        value="{{ now }}"
      />
      <mat-error>{{ strings.errorMessagesText.timeError }}</mat-error>
    </mat-form-field>
  </form>
  <button
    mat-raised-button
    color="primary"
    [disabled]="
      !chips.length ||
      estadosControl.invalid ||
      fechaCambioControl.invalid ||
      fechaCambioControl.value > today ||
      horaCambioControl.invalid
    "
    (click)="cambiarEstados()"
  >
    {{ strings.strings.changeState }}
  </button>
</div>
<div
  [@show]="responseMessage.message !== ''"
  class="response-message"
  [ngClass]="{
    error: responseMessage.ID >= 0,
    success: responseMessage.ID < 0
  }"
>
  {{ responseMessage.message | titlecase }}
</div>
<div class="loading" *ngIf="isLoading" [@fade]>
  <mat-spinner mode="indeterminate" [diameter]="60"></mat-spinner>
</div>
