@import "../../../assets/css/vars";
.toolbar {
  margin-bottom: 1rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  & button span mat-icon {
    margin-right: 0!important;
  }
}
.the-wrapper {
  padding: 0;
}
.card {
  &-first,
  &-second,
  &-third,
  &-fourth {
    padding: 0;
  }
  &-first .card-title span {
    background: $primary-gradient;
  }
  &-second .card-title span {
    background: $success-gradient;
  }
  &-third .card-title span {
    background: $warning-gradient;
  }
  &-fourth .card-title span {
    background: $danger-gradient;
  }
  &-wrapper {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-gap: 2rem;
  }
  &-title {
    padding: 1rem;
    padding-bottom: 0;
    font-size: 21px;
    border-bottom: 1px solid $HC-light-gray;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    & span {
      padding: 1rem;
      margin: -2rem 1rem 1rem 0rem;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      & mat-icon {
        color: $HC-white;
      }
    }
  }
  &-body {
    padding: 1rem;
    & ul {
      & li {
        list-style: none;
      }
    }
  }
}
