@import "../../../assets/css/vars";
.toolbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  color: $HC-white;
  & button span mat-icon {
    margin-right: 0!important;
  }
}
.the-wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
}
.card {
  &-first,
  &-second,
  &-third,
  &-fourth {
    padding: 0;
  }
  &-first .card-title {
    background: $primary-gradient;
  }
  &-second .card-title {
    background: $success-gradient;
  }
  &-third .card-title {
    background: $warning-gradient;
  }
  &-fourth .card-title {
    background: $danger-gradient;
  }
  &-wrapper {
    justify-content: center;
    padding: 1rem 1rem 3rem 1rem;
    border-bottom: 1px solid lighten($color: #000000, $amount: 80);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    grid-gap: 2rem;
  }
  &-title {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: $HC-white;
    padding: 1rem;
    font-size: 21px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    & span {
      padding: 1rem;
      margin: -2rem 1rem 1rem 0rem;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      & mat-icon {
        color: $HC-white;
      }
    }
  }
  &-body {
    padding: 1rem;
    & ul {
      & li {
        list-style: none;
      }
    }
  }
}

