<mat-toolbar class="toolbar"
  ><span>Detalles</span
  ><button mat-icon-button (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button></mat-toolbar
>
<div class="the-wrapper">
  <div class="card-wrapper">
    <mat-card class="card-first">
      <div class="card-title">
        <span><mat-icon>person</mat-icon></span>
        Datos del Ciente:
      </div>
      <div class="card-body">
        <ul>
          <li>Cédula:</li>
          <li>Cliente:</li>
          <li>Teléfono:</li>
          <li>Dirección:</li>
          <li>Ciudad:</li>
        </ul>
      </div>
    </mat-card>
    <mat-card class="card-second">
      <div class="card-title">
        <span><mat-icon>local_shipping</mat-icon></span>
        Datos de entrega:
      </div>
      <div class="card-body">
        <ul>
          <li>Dirección de entrega:</li>
          <li>Ciudad a entregar:</li>
        </ul>
      </div>
    </mat-card>
    <mat-card class="card-third">
      <div class="card-title">
        <span><mat-icon>local_offer</mat-icon></span>
        Datos de la orden:
      </div>
      <div class="card-body">
        <ul>
          <li>Número de orden:</li>
          <li>Tipo de entrega:</li>
          <li>Sitio (radicación factura):</li>
        </ul>
      </div>
    </mat-card>
    <mat-card class="card-fourth">
      <div class="card-title">
        <span><mat-icon>insert_comment</mat-icon></span>
        Observaciones:
      </div>
      <div class="card-body">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni, in eum?
        Quo commodi fugit deleniti soluta facilis explicabo neque quaerat et
        unde fugiat, nam necessitatibus tenetur quod! Et, magnam ipsa!
      </div>
    </mat-card>
  </div>
  <mat-tab-group [color]="color" [backgroundColor]="background">
    <mat-tab label="SKU">
      <app-stepper-detalles></app-stepper-detalles>
    </mat-tab>
    <mat-tab label="Second" disabled> Content 2 </mat-tab>
    <mat-tab label="Third" disabled> Content 3 </mat-tab>
  </mat-tab-group>
</div>
