<table #table mat-table [dataSource]="dataSource" multiTemplateDataRows>
  <!-- Checkbox Column -->
  <ng-container matColumnDef="Select">
    <th mat-header-cell *matHeaderCellDef class="check" class="check">
      <mat-checkbox
        (change)="$event ? masterToggle() : null"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()"
        [aria-label]="checkboxLabel()"
      >
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row" class="check">
      <mat-checkbox
        (click)="$event.stopPropagation()"
        (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)"
        [aria-label]="checkboxLabel(row)"
      >
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container
    [matColumnDef]="column"
    *ngFor="let column of displayedColumnsAux; let i = index"
  >
    <th mat-header-cell *matHeaderCellDef>{{ displayedNames[i] }}</th>
    <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
  </ng-container>

  <!-- Detalles -->
  <ng-container matColumnDef="expandedDetail">
    <td
      mat-cell
      *matCellDef="let element"
      [attr.colspan]="displayedColumns.length || null"
    >
      <div
        class="element-detail "
        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
      >
        <mat-list>
          <mat-list-item *ngFor="let x of jsonToBeUsed">
            <span mat-line> {{ x.key }}: </span>
            <span mat-line *ngIf="isNumber(x.value, x.key)">
              {{ x.value }}
            </span>
            <span mat-line *ngIf="!isNumber(x.value)">
              {{ x.value | titlecase }}
            </span>
            <span mat-line *ngIf="isCost(x.key)">
              {{ x.value | currency: 'COP':'symbol-narrow' }}
            </span>
          </mat-list-item>
        </mat-list>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let element; columns: displayedColumns"
    class="element-row"
    [class.expanded-row]="expandedElement === element"
    (click)="
      expandedElement = expandedElement === element ? null : element;
      details(element)
    "
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: ['expandedDetail']"
    class="detail-row"
  ></tr>
</table>

<mat-paginator
  [pageSizeOptions]="[5, 10, 20, 50, 100]"
  showFirstLastButtons
></mat-paginator>
