@import '../../../assets/css/vars';
table {
  width: 100%;
  // & td:not(:first-child), & td:not(:last-child) {
  //   padding: 0 16px;
  // }
  & tr.mat-footer-row, & tr.mat-row {
    height: 35px;
  }
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  cursor: pointer;
  background: linear-gradient(to top, $HC-primary 5%, transparent 6%);
  font-weight: bold;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}


.element-row td {
  border-bottom-width: 0;
}

.element-row.expanded-row + .detail-row .element-detail {
  margin-bottom: 1rem;
}

.element-detail {
  overflow: hidden;
  display: flex;
  & mat-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
    & mat-list-item {
      transition: all .2s ease-out;
      & span:first-child {
        font-weight: bold;
      }
      & span:nth-child(2) {
        white-space: normal;
      }
      &:hover {
        background: $HC-primary;
        color: $HC-white;
      }
    }
  }
}

.description {
  // white-space: nowrap;
  text-overflow: ellipsis;
}
