@import "../../../assets/css/vars";
.the-wrapper {
  padding: 2rem;
  background: #efefef;
  & > div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    & h1:first-child {
      margin: 0;
      font-weight: 300;
      & span:first-child {
        margin-right: 10px;
      }
      & span:nth-child(2) {
        color: #5c5c5c;
      }
    }
    & mat-icon {
      vertical-align: top;
      margin-right: 0;
    }
  }
  & mat-card {
    border-radius: 0;
    margin: 1rem 0;
    border-top: 2px solid $HC-white;
    transition: all 0.2s ease-out;
    &:hover {
      border-top: 2px solid $HC-success;
    }
    &.first {
      display: flex;
      flex-flow: column nowrap;
      & > div {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(180px, auto));
        padding-bottom: 1rem;
      }
      & button {
        align-self: flex-start;
        max-width: 250px;
      }
    }
    &.second {
      padding: 0;
      & > div:first-child {
        border-bottom: 1px solid rgba(150, 150, 150, 0.5);
        padding: 1rem;
        margin-bottom: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        & h2 {
          font-weight: 300;
          align-self: center;
        }
        & > div {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(180px, auto));
          grid-gap: 1rem;
        }
      }
      & .filter {
        width: calc(100% - 32px);
        width: -moz-available;
        width: -webkit-fill-available;
        width: fill-available;
        padding: 1rem;
      }
      & table {
        width: 100%;
        & .position-label {
          color: $HC-primary;
          transition: all 0.2s ease-out;
          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
        & tr.detail-row {
          height: 0;
        }

        & tr.element-row:not(.expanded-row):hover {
          cursor: pointer;
          background: linear-gradient(to top, $HC-primary 5%, transparent 6%);
          font-weight: bold;
        }

        & tr.element-row:not(.expanded-row):active {
          background: #efefef;
        }

        & .element-row td {
          border-bottom-width: 0;
        }

        & .element-detail {
          overflow: hidden;
          display: flex;
        }

        & .element-diagram {
          min-width: 80px;
          border: 2px solid black;
          padding: 8px;
          font-weight: lighter;
          margin: 8px 0;
          height: 104px;
        }

        & .element-symbol {
          font-weight: bold;
          font-size: 40px;
          line-height: normal;
        }

        & .element-description {
          padding: 16px;
        }

        & .element-description-attribution {
          opacity: 0.5;
        }
      }
      & mat-form-field:first-child {
        width: 100%;
      }
    }
  }
}

.no-privileges {
  margin: 1rem 0;
  border-radius: 0;
  & h2 {
    font-weight: 300;
  }
}
