@import "../../../assets/css/vars";
.no-data-grid {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
.the-wrapper {
  padding: 2rem;
  background: #efefef;
  & > div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    & h1:first-child {
      margin: 0;
      font-weight: 300;
      & span:first-child {
        margin-right: 10px;
      }
      & span:nth-child(2) {
        color: #5c5c5c;
      }
    }
    & mat-icon {
      vertical-align: top;
      margin-right: 0;
    }
  }
  & mat-card {
    border-radius: 0;
    margin: 1rem 0;
    border-top: 2px solid $HC-white;
    transition: all 0.2s ease-out;
    &:hover {
      border-top: 2px solid $HC-success;
    }
    &.first {
      display: flex;
      flex-flow: column nowrap;
      & > div {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(180px, auto));
        padding-bottom: 1rem;
      }
      & > div:nth-child(2) {
        & button {
          align-self: flex-start;
          max-width: 250px;
        }
        & mat-icon {
          align-self: center;
          justify-self: flex-end;
        }
      } 
    }
    &.second {
      padding: 0;
      & > div:first-child {
        border-bottom: 1px solid rgba(150, 150, 150, 0.5);
        padding: 1rem;
        margin-bottom: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        & h2 {
          font-weight: 300;
          align-self: center;
          display: flex;
          align-items: center;
          & mat-icon {
            margin-left: 15px;
          }
        }
        & > div {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(180px, auto));
          grid-gap: 1rem;
        }
      }
      & .filter {
        width: calc(100% - 32px);
        width: -moz-available;
        width: -webkit-fill-available;
        width: fill-available;
        padding: 1rem;
      }
      & table {
        width: 100%;
        & .position-label {
          color: $HC-primary;
          transition: all 0.2s ease-out;
          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
        & tr.detail-row {
          height: 0;
        }

        & tr.element-row:not(.expanded-row):hover {
          cursor: pointer;
          background: linear-gradient(to top, $HC-primary 5%, transparent 6%);
          font-weight: bold;
        }

        & tr.element-row:not(.expanded-row):active {
          background: #efefef;
        }

        & .element-row td {
          border-bottom-width: 0;
        }

        & .element-row.expanded-row + .detail-row .element-detail {
          margin-bottom: 1rem;
        }

        & .element-detail {
          overflow: hidden;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
          grid-gap: 1rem;
          & div {
            display: grid;
            grid-gap: 10px;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            & mat-icon {
              grid-column: 1;
              grid-row: 1 / -1;
            }
            & span {
              grid-column: 2;
            }
            & span:nth-child(2) {
              font-weight: 600;
              grid-row: 1;
              color: $HC-primary;
            }
            & span:nth-child(3) {
              grid-row: 2;
            }
          }
        }
        & .element-description {
          padding: 16px;
        }

        & .element-description-attribution {
          opacity: 0.5;
        }
      }
      & mat-form-field:first-child {
        width: 100%;
      }
    }
  }
}
input {
  text-overflow: ellipsis !important;
}
.header-orden {
  text-decoration: underline;
  color: $HC-primary;
  font-weight: 600;
  cursor: pointer;
}
.no-privileges {
  margin: 1rem 0;
  border-radius: 0;
  & h2 {
    font-weight: 300;
  }
}
