<div class="the-wrapper">
  <h1>
    <span>Proveedor:</span
    ><span>{{ proveedorControl || "Nombre del proveedor" }}</span>
  </h1>
  <mat-card class="mat-elevation-z4 first" >
    <div [formGroup]="mainFilterForm">
      <mat-form-field class="example-full-width">
        <input
          type="text"
          placeholder="Proveedor"
          aria-label="Proveedor"
          matInput
          debugger
          [formControl]="proveedorControl"
          formControlName="proveedorControlName"
          [matAutocomplete]="proveedor"
        />
        <mat-autocomplete
          #proveedor="matAutocomplete"
          [displayWith]="displayProveedor"
        >
          <mat-option
            *ngFor="let option of filteredProveedores | async"
            [value]="option"
          >
            {{ option.DESCRIPCION }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="mainFilterForm.invalid">Campo requerido.</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input
          type="text"
          placeholder="Estados"
          aria-label="Estados"
          matInput
          [formControl]="estadosControl"
          [matAutocomplete]="estados"
        />
        <mat-autocomplete
          #estados="matAutocomplete"
          [displayWith]="displayEstados"
        >
          <mat-option
            *ngFor="let option of filteredEstados | async"
            [value]="option"
          >
            {{ option.DESCRIPCION }}
          </mat-option>
        </mat-autocomplete>
        <!-- <mat-error *ngIf="proveedorControl.invalid">Campo requerido.</mat-error> -->
      </mat-form-field>
      <!-- <mat-form-field>
        <input
          matInput
          placeholder="Ingrese rango de fecha"
          [satDatepicker]="picker"
          [value]="date"
        />
        <sat-datepicker
          touchUi
          #picker
          [rangeMode]="true"
          [closeAfterSelection]="false"
        ></sat-datepicker>
        <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
        <mat-error *ngIf="proveedorControl.invalid">Campo requerido.</mat-error>
      </mat-form-field> -->
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="dp1"
          placeholder="Fecha inicio"
          disabled
        />
        <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
        <mat-datepicker #dp1 disabled="false"></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="dp2"
          placeholder="Fecha fin"
          disabled
        />
        <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
        <mat-datepicker #dp2 disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary">
      <mat-icon>search</mat-icon> Consultar
    </button>
  </mat-card>
  <mat-card class="mat-elevation-z4 second">
    <div>
      <h2>Opciones:</h2>
      <div>
        <button
          mat-raised-button
          color="primary"
          (click)="openDialogCambioEstado($event)"
          [disabled]="!selection.selected.length"
        >
          <mat-icon>category</mat-icon>Cambiar estado
        </button>
        <button mat-raised-button color="primary" #exportButton>
          <mat-icon>description</mat-icon>Generar reporte
        </button>
      </div>
    </div>
    <mat-form-field class="filter">
      <input
        matInput
        (keyup)="applyFilter($event.target.value)"
        placeholder="Filter"
      />
      <mat-icon matSuffix>filter_list</mat-icon>
    </mat-form-field>
    <!-- Tabla de datos Principal -->
    <table
      #table
      mat-table
      #table
      [dataSource]="dataSource"
      ngxMatTableExporter
      [cdkTable]="table" 
      [exporterButton]="exportButton"
      sheetName="Ordenes_de_compra"
      fileName="Ordenes_de_compra"
    >
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Orden -->
      <ng-container matColumnDef="orden">
        <th mat-header-cell *matHeaderCellDef># Orden</th>
        <td
          mat-cell
          *matCellDef="let element"
          class="position-label"
          (click)="openDialogDetalles(element)"
        >
          {{ element.orden }}
        </td>
      </ng-container>

      <!-- Fecha Creación -->
      <ng-container matColumnDef="fechaCreacion">
        <th mat-header-cell *matHeaderCellDef>Fecha creación</th>
        <td mat-cell *matCellDef="let element">{{ element.fechaCreacion }}</td>
      </ng-container>

      <!-- Fecha  Despacho-->
      <ng-container matColumnDef="fechaDespacho">
        <th mat-header-cell *matHeaderCellDef>Fecha despacho</th>
        <td mat-cell *matCellDef="let element">{{ element.fechaDespacho }}</td>
      </ng-container>

      <!-- Fecha Entrega -->
      <ng-container matColumnDef="fechaEntrega">
        <th mat-header-cell *matHeaderCellDef>Fecha entrega</th>
        <td mat-cell *matCellDef="let element">{{ element.fechaEntrega }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20, 50, 100]"
      showFirstLastButtons
    ></mat-paginator>
  </mat-card>
</div>
