<mat-horizontal-stepper [linear]="false" #stepper>
  <mat-step [stepControl]="firstFormGroup" state="tab">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Lista de SKU</ng-template>
      <app-tabla-detalles></app-tabla-detalles>
      <div class="stepper-buttons">
        <button mat-raised-button color="primary" matStepperNext><mat-icon>navigate_next</mat-icon>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" state="widgets">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Configuracion de Bultos</ng-template>
      <p *ngFor="let sku of selectedSku">
        {{sku | json}}
      </p>
      <div class="stepper-buttons">
        <button mat-stroked-button color="warn" matStepperPrevious><mat-icon>navigate_before</mat-icon>Volver</button>
        <button mat-raised-button color="primary" matStepperNext><mat-icon>navigate_next</mat-icon>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" state="location">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Direccion de Origen/Entrega</ng-template>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis error
        alias, deleniti nulla exercitationem necessitatibus minus consectetur
        aut aliquam hic voluptates, illo earum? At libero excepturi quis, odio
        laboriosam aperiam.
      </p>
      <div class="stepper-buttons">
        <button mat-stroked-button color="warn" matStepperPrevious><mat-icon>navigate_before</mat-icon>Volver</button>
        <button mat-raised-button color="primary" matStepperNext><mat-icon>navigate_next</mat-icon>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step state="shipping">
    <ng-template matStepLabel>Confirmar Generacion de Guia</ng-template>
    You are now done.
    <div class="stepper-buttons">
      <button mat-stroked-button color="warn" matStepperPrevious><mat-icon>navigate_before</mat-icon>Volver</button>
      <button mat-raised-button color="primary" (click)="stepper.reset()"><mat-icon>description</mat-icon>Generar Guia</button>
    </div>
  </mat-step>


  <!-- Template Icons -->
  <ng-template matStepperIcon="tab">
    <mat-icon>table_chart</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="widgets">
    <mat-icon>widgets</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="location">
    <mat-icon>location_on</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="shipping">
    <mat-icon>local_shipping</mat-icon>
  </ng-template>
</mat-horizontal-stepper>
