@import "../../../assets/css/vars";
mat-horizontal-stepper {
    // margin-top: 1rem;
}
::ng-deep .mat-horizontal-content-container {
  border-top: 1px solid darken($HC-light-gray, 10);
  padding: 0!important;
}
.stepper-buttons {
  margin-top: 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: max-content max-content;
  & button {
    max-width: 200px;
  }
}
