<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup" state="tab">
    <form [formGroup]="firstFormGroup">
      <mat-form-field class="no-show">
        <input
          matInput
          formControlName="selectedSkuControl"
          [value]="selectedSku.length"
        />
      </mat-form-field>
      <ng-template matStepLabel>{{ strings.strings.skuList }}</ng-template>
      <app-tabla-detalles></app-tabla-detalles>
      <div [@show]="showQueryResponse" class="query-response">{{ queryResponse }}</div>
      <div class="stepper-buttons">
        <button
          mat-raised-button
          color="accent"
          [disabled]="!selectedSku.length"
          (click)="openBottomSheet()"
        >
          <mat-icon>category</mat-icon>{{ strings.strings.changeState }}
        </button>
        <button mat-raised-button color="primary" matStepperNext>
          <mat-icon>navigate_next</mat-icon>{{ strings.strings.next }}
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" state="widgets" disabled>
    <form [formGroup]="secondFormGroup">
      <div class="step-container">
        <ng-template matStepLabel>{{ strings.strings.packConfig }}</ng-template>
      </div>
      <div class="stepper-buttons">
        <button mat-stroked-button color="warn" matStepperPrevious>
          <mat-icon>navigate_before</mat-icon>{{ strings.strings.back }}
        </button>
        <button mat-raised-button color="primary" matStepperNext>
          <mat-icon>navigate_next</mat-icon>{{ strings.strings.next }}
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" state="location" disabled>
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>{{
        strings.strings.originDeliverAddress
      }}</ng-template>
      <p></p>
      <div class="stepper-buttons">
        <button mat-stroked-button color="warn" matStepperPrevious>
          <mat-icon>navigate_before</mat-icon>{{ strings.strings.back }}
        </button>
        <button mat-raised-button color="primary" matStepperNext>
          <mat-icon>navigate_next</mat-icon>{{ strings.strings.next }}
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step state="shipping">
    <ng-template matStepLabel>{{
      strings.strings.confirmGuideGeneration
    }}</ng-template>
    <div class="stepper-buttons">
      <button mat-stroked-button color="warn" matStepperPrevious>
        <mat-icon>navigate_before</mat-icon>{{ strings.strings.back }}
      </button>
      <button mat-raised-button color="primary" (click)="stepper.reset()">
        <mat-icon>description</mat-icon>{{ strings.strings.generateGuide }}
      </button>
    </div>
  </mat-step>

  <!-- Template Icons -->
  <ng-template matStepperIcon="tab">
    <mat-icon>table_chart</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="widgets">
    <mat-icon>widgets</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="location">
    <mat-icon>location_on</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="shipping">
    <mat-icon>local_shipping</mat-icon>
  </ng-template>
</mat-horizontal-stepper>
