<form [formGroup]="addresses">
  <mat-card class="mat-elevation-z15">
    <div class="mat-card-header">
      <span>Origen:</span><mat-icon>local_shipping</mat-icon>
    </div>
    <mat-card-content>
      <mat-form-field>
        <textarea
          matInput
          placeholder="{{ strings.strings.address }}"
          formControlName="originAddress"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="{{ strings.strings.cities }}" />
      </mat-form-field>
      <mat-checkbox>Default</mat-checkbox>
    </mat-card-content>
  </mat-card>
  <mat-card class="mat-elevation-z15">
    <div class="mat-card-header">
      <span>Destino:</span><mat-icon>home</mat-icon>
    </div>
    <mat-card-content>
      <mat-form-field>
        <textarea
          type="text"
          placeholder="{{ strings.strings.address }}"
          aria-label="strings.provider"
          matInput
          required
          formControlName="originCity"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="{{ strings.strings.cities }}" />
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</form>
