/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";

// Theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

html,
body {
  background: #efefef;
  & * {
    &::-webkit-scrollbar {
      width: 6px;
      background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-thumb {
      background: #0072ce;
    }
  }
}

$sd-primary: (
  1: #0072ce,
  contrast: (
    1: white
  )
);
$sd-secondary: (
  1: #858585,
  2: #ecebeb,
  contrast: (
    1: white,
    2: #333
  )
);
$sd-success: (
  1: #38ad6a,
  contrast: (
    1: white
  )
);
$sd-warning: (
  1: #fbd600,
  contrast: (
    1: black
  )
);
$sd-danger: (
  1: #ff4646,
  contrast: (
    1: white
  )
);
$sodimac-app-primary: mat-palette($sd-primary, 1);
$sodimac-app-accent: mat-palette($sd-success, 1);
$sodimac-app-secondary: mat-palette($sd-secondary, 1);

// The warn palette is optional (defaults to red).
$sodimac-app-warn: mat-palette($sd-danger, 1);

// Create the theme object (a Sass map containing all of the palettes).
$sodimac-app-theme: mat-light-theme(
  $sodimac-app-primary,
  // $sodimac-app-secondary,
    $sodimac-app-accent,
  $sodimac-app-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($sodimac-app-theme);
@import '~saturn-datepicker/bundle.css';
@import '~saturn-datepicker/theming';
@include sat-datepicker-theme($sodimac-app-theme);

body {
  &,
  & * {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
  }
  & *:not(button span) {
    color: #333 !important;
  }
  & button {
    &.mat-primary {
      border-radius: 0 !important;
    }
    & span {
      font-size: 21px;
    }
  }
}

